<?xml version="1.0" encoding="UTF-8"?>
<!--  <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >-->

<suite name="Nixonex E-commerce Test Suite">
    <test name="Full User Journey">
        <classes>
            <class name="com.nixonex.tests.RegisterTest"/>
            <class name="com.nixonex.tests.LoginTest"/>
            <class name="com.nixonex.tests.ShoppingTest"/>
        </classes>
    </test>
</suite>